
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
div>div.col{
    background-color: rgb(255, 255, 255);
    /*border: 2px solid black;*/


}

.textoError{
    width: 50%;
    margin: auto;
    font-size: x-small;
    text-align: center;
    color: red;
}

.textoCorrecto{
    font-size: x-small;
    text-align: center;
    color: rgb(71, 161, 73);

}

.row{
    margin: 10px;
    padding: 0px;
}

#btnGuardar{
    width: 50%;
}

.secondary-content{
    margin: auto;
}

#btnDelete{
    width: 45%;
    text-align: left;
    margin: 1px;    
}

#btnEdit{
    width: 45%;
    text-align: right;
    margin: 1px;    
}

.switch{
    margin: 5px;
}

.modal{
    border-radius: 10px;
    width: 40%;
}

/*
.input-field input[type=number] .secondary-content {
    height: 20px;
    width: 50px;
}
*/
